[%- sections.windowtitle = ".title" | ml -%]
[%- CALL dw.active_resource_group( "foundation" ) -%]

<h1>[% ".css.header" | ml %]</h1>
<p>[% ".intro.css" | ml(sitename = site.nameshort) %]</p>
<ul>
    <li><a href='https://github.com/dreamwidth/dreamwidth/wiki/S2-CSS'>[% ".css.overview" | ml %]</a></li>
    <li><a href='https://github.com/dreamwidth/dreamwidth/wiki/CSS-tutorial'>[% ".css.tutorial" | ml %]</a></li>
    <li><a href='https://github.com/dreamwidth/dreamwidth/wiki/Style-Structure-Overview'>[% ".css.stylestructure" | ml %]</a></li>
    <li><a href='https://github.com/dreamwidth/dreamwidth/wiki/S2-CSS'>[% ".css.selectors" | ml %]</a></li>
</ul>
<h1>[% ".s2.header" | ml %]</h1>
<p>[% ".intro.s2" | ml(sitename = site.nameshort) %]</p>
<ul>
    <li><a href='https://github.com/dreamwidth/dreamwidth/wiki/S2-Guide'>[% ".s2.guide" | ml %]</a></li>
    <li><a href='https://github.com/dreamwidth/dreamwidth/wiki/S2-Guide:-Style-System-Overview'>[% ".s2.overview" | ml %]</a></li>
    <li><a href='https://github.com/dreamwidth/dreamwidth/wiki/S2-Guide:-Language-Tutorial'>[% ".s2.language" | ml %]</a></li>
    <li><a href='https://github.com/dreamwidth/dreamwidth/wiki/S2-Cookbook:-Introduction'>[% ".s2.cookbook" | ml %]</a></li>
    <li><a href='https://github.com/dreamwidth/dreamwidth/wiki/Category:S2-Properties'>[% ".s2.props" | ml %]</a></li>
    <li><a href='https://github.com/dreamwidth/dreamwidth/wiki/S2-Guide:-Troubleshooting'>[% ".s2.troubleshoot" | ml %]</a></li>
</ul>
